<form id="movies">
<input name="title" id="title" type="text" placeholder="Beauty and a Beast"/>
<input name="genre" id="genre" type="text" placeholder="Family"/>
<button>POST</button>
</form>
<br>
<ul id="movList">
{{#each movies}}
<li>{{this.title}}: {{this.genre}}</li>
{{/each}}
</ul>
<script>
$('#movies').submit(function(){
  var title = $('#title').val();
  var genre = $('#genre').val();
  $.ajax({
    type: "POST",
    url: "/movies",
    data: {
      title: title,
      genre: genre
    },
    success: function(data, status){
      console.log(data);
    }
  });
  return false;
});

socket.on('new movie', function(mov){
  $('#movList').append($('<li>').text(mov.title + ": " + mov.genre));

});
</script>
