<script>

$('#createNew').on('click', function() {
	console.log("createNewShow");
});
function handleSelect(elm)
{
window.location = "/show/genre/" + elm.value;
}

function handleSelect1(elm)
{
window.location = "/show/year/" + elm.value;
}

function handleSelect2(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value + "/reviews";
}



</script>
<h1>Input New Show</h1>
<article>
  <form method="POST" action="/show/addShow">
    <div class="input-field">
      <label>Show Title:</label>
      <input type="text" name="title" size="50" placeholder="Show Title...">
    </div>
    <div class="input-field">
      <label>Release Year:</label>
      <input type="number" name="year" size="50" placeholder="Year..."></textarea>
    </div>
    <div class="input-field">
      <label>Genres:</label>
      <textarea type="text" name="genre" rows="20" placeholder="Genres... (separate by spaces)"></textarea>
    </div>
    <button type="submit">Create Blog Post </button>
  </form>
</article>
