<h1>Input New Show</h1>
<article>
  {{#if id}}
  <form method="POST" action="/show/{{id}}/newReview">

    <div class="input-field">
      <label>Show Image:</label>
      <input type="text" name="url" size="50" placeholder="Image URL...">
    </div>
    <div class="input-field">
      <label>Number of Seasons:</label>
      <input type="number" name="season" size="50" placeholder="Seasons...">
    </div>
    <div class="input-field">
      <label>Release Year:</label>
      <input type="number" name="release" size="50" placeholder="Year..."></textarea>
    </div>
    <div class="input-field">
      <label>Genres:</label>
      <textarea type="text" name="genre" rows="20" placeholder="Genres... (separate by spaces)"></textarea>
    </div>
    <button type="submit">Create Blog Post </button>
  </form>
  {{/if}}
  <div class="input-field">
    <label>Show Title:</label>
    <input type="text" name="title" size="50" placeholder="Show Title...">
  </div>
</article>
